.task-wrapper {
  display: flex;
  justify-content: space-between;
}
.info {
  padding-left: 16px;
}

.controls {
  padding: 12px 16px 0px 12px;
}

.priority {
  display: inline-block;
  padding: 0px 6px;
  border-radius: 8px;
}

.high {
  color: red;
}

.med {
  color: yellowgreen;
}

.low {
  color: blue;
}

button {
  border: 0;
  outline: none;
  background: transparent;
  cursor: pointer;
}
