.column {
  display: inline-block;
  /* height: 80vh; */
  width: 100%;
}

.column__header {
  text-align: center;
  font-size: 12px;
}

.column--empty {
  height: 20vh;
  text-align: center;
}

/* Tabs */
@media (min-width: 768px) {
  .column {
    display: inline-block;
    /* margin: 10px; */
    margin: 0px auto;
  }

  .column__header {
    font-size: 16px;
  }
}
