body {
  background: #f0f0f3;
}

.container {
  margin: 0px auto;
  width: 90%;
  padding: 10px;
}

.inputbox {
  border: 0;
  outline: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ' ';
  clear: both;
  height: 0;
}

.hide {
  display: none;
}

.neumo-element {
  box-shadow: -7px 7px 14px #cccccf, 7px -7px 14px #ffffff;
  border-radius: 12px;
}

input {
  outline: none;
  border: 0;
}
